<a href="https://colab.research.google.com/github/shakinul-islam/Python/blob/main/range7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

That will print 0 to 4, all number

In [ ]:
numbers=range(5)
print (numbers)

if I want to see all the output then need to write this type of code. using "list" function

In [2]:
numbers = range(5)
print(list(numbers))

[0, 1, 2, 3, 4]